{% extends "main.html" %}{% block content %}
<form action="/contact" method="post">
  <div class="mb-3">
    <label for="nama" class="form-label">Nama</label>
    <input type="text" class="form-control" id="nama" name="nama" />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" />
  </div>
  <div class="mb-3">
    <label for="pesan" class="form-label">Pesan</label>
    <input type="text" class="form-control" id="pesan" name="pesan" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- <h1>Contact Us</h1>
<p>Welcome to the contact page of our website.</p> -->
{% endblock %}
